page-usuariomostrar {

  .toolbar-title-md {
    padding: 0 12px;
    font-size: 2.5rem;
    font-weight: 500;
  }

  .toolbar-md-sincolor .bar-button-clear-md, .toolbar-md-sincolor .bar-button-default-md, .toolbar-md-sincolor .bar-button-outline-md, .toolbar-md-sincolor .toolbar-title-md {
      color: #10CF50;
  }

  .tarjeta{
    border-radius: 10px;
    margin: 30px 0 16px;
    box-shadow: 8px 8px 12px #d1d1d1, -5px -5px 10px #FFFFFF;
  }


         .center{
             margin-left: auto;
            margin-right: auto;
            display: block;
         text-align: center;
        
         }
        
         .version{
           font-size: 1.2em;
           color:white;
           //text-decoration: underline;
         }
        
        
        
        .Imagen {
          //padding: 20px 0;
          //min-height: 200px;
          text-align: center;
        }
        
         .Imagen img {
          max-width: 120px;
             background-repeat: no-repeat;
            background-position: 50%;
            border-radius: 50%;
        }
        
      
       
}
