page-clientemostrarhistorial {
 
  
  .toolbar-title-md {
    padding: 0 12px;
    font-size: 2.5rem;
    font-weight: 500;
  }

  .toolbar-md-sincolor .bar-button-clear-md, .toolbar-md-sincolor .bar-button-default-md, .toolbar-md-sincolor .bar-button-outline-md, .toolbar-md-sincolor .toolbar-title-md {
      color: #10CF50;
      padding: 3%;
  }

  .item-md ion-avatar ion-img, .item-md ion-avatar img{
      width: 40px;
      height: 40px;
      border-radius: 0px;
  }

  .button-md {
      height: 5.6rem;
      font-size: 1.9rem;
  }

  .content {
   // background: linear-gradient(90deg, rgba(1,135,138,1) 0%, rgba(0,156,173,1) 35%, rgba(125,188,213,1) 100%);
  

    //Codigo para crear curva
  

    .tarjeta{
      border-radius: 10px;
      margin: 30px 0 16px;
      box-shadow: 8px 8px 12px #d1d1d1, -5px -5px 10px #FFFFFF;
    }

    .grid {
      padding: 0px;
    }

    .c1{
      border-radius: 10px;
      margin: 30px 0 16px;
      box-shadow: 8px 8px 12px #d1d1d1, -5px -5px 10px #FFFFFF;
      margin-top: -1.5%;
    }

    .c2{
      margin-top: -5%;
    }

    .c3{
      margin-top: -7%;
    }

    .c4{
      border-radius: 10px;
      margin: 30px 0 16px;
      box-shadow: 8px 8px 12px #d1d1d1, -5px -5px 10px #FFFFFF;
      margin-top: 0%;
    }

    .c5{
      margin-top: -5%;
    }


    .item-md ion-avatar ion-img, .item-md ion-avatar img{
        width: 50px;
        height: 50px;
        border-radius: 0px;
    }

    button {
      width: 60%;
      height: 48px;
      font-size: 18px;
      text-transform: initial;
      border-radius: 50px;
      box-shadow: 10px 10px 15px #d1d1d1, -5px -5px 10px #FFFFFF;
      //box-shadow: none;

    }

    .btn {
      margin-bottom: 1.5em;
      text-align: -webkit-center;
    }

    ion-icon {
      margin-right: 10px;
    }
    
    .chip-md {
      border-radius: 16px;
      height: 32px;
      font-size: 14px;
      line-height: 32px;
      margin: 7px 0;
  }
    

 









  }



  
}
