

<ion-header translucent="true" no-border>
  <ion-toolbar color="sincolor" style="text-align: center;">
    <ion-title>Detalles del cliente</ion-title>
  </ion-toolbar>
</ion-header> 


<ion-content >

  <ion-grid style="text-align: center;">
    <ion-row> 
      <ion-col>
        <img style="width: 32%;" (click)="regresar()" src="img/icon/left-arrow.png"/>
        <p style="font-size: 14px; opacity: 50%; margin-top: 0%;">regresar</p>
      </ion-col>
      <ion-col>     
        <img style="width: 32%;" (click)="enlace_agenda()" src="img/icon/agendar.png"/>
        <p style="font-size: 14px; color: #4A6D68; margin-top: 0%;">Agendar</p>
      </ion-col>
      <ion-col>
          <img style="width: 32%;" (click)="enlace_activar()" src="img/icon/activo.png"/>
          <p style="font-size: 14px; color: #4A6D68; margin-top: 0%;">Activar cliente</p>
      </ion-col>
    </ion-row>
  </ion-grid> 
 
  <ion-card class="c1">
    <ion-item>
      <ion-avatar item-left>
        <img src="img/icon/user.png"/>      
      </ion-avatar>
      <h2 style="color: #4A6D68;"><strong>{{datosC.nombre}}</strong></h2>
      <h3 style="color: #505A53;">Cliente {{datosC.tipoCliente}}</h3>
      <h3 style="color: #505A53;">Licencia: <strong>{{datosC.licencia}} - {{datosC.fechaLicencia}}</strong></h3>
      <h4 style="opacity: 50%;">{{datosC.telefono}}</h4>
    </ion-item>
  </ion-card>  

  <div class="c2">
    <ion-grid style="text-align: center;">
      <ion-row> 
        <ion-col> 
          <ion-card class="tarjeta">
            <ion-item>
              <div style="text-align: -webkit-center;">
                <p style="font-size: 8px; color: #505A53;"> Vehiculos <br> rentados</p>
                <p style="font-size: 20px; color: #1BC7AF;"><strong>{{datosC.vehiculosRentados}}</strong></p>
              </div> 
            </ion-item>
          </ion-card>
        </ion-col>
        <ion-col>     
          <ion-card class="tarjeta">
            <ion-item>
              <div style="text-align: -webkit-center;">
                <p style="font-size: 8px; color: #505A53;">Vehiculos en <br> mal estado</p>
                <p style="font-size: 20px; color: #1BC7AF;"><strong>{{datosC.vehiculosMalEstado}}</strong></p>
              </div> 
            </ion-item>
          </ion-card>
        </ion-col>
        <ion-col>     
          <ion-card class="tarjeta">
            <ion-item>
              <div style="text-align: -webkit-center;">
                <p style="font-size: 10px; color: #505A53;">Agendado <br> para el día:</p>
                <p style="font-size: 16px; color: #1BC7AF;"><strong>{{datosC.dia}}</strong></p>
              </div> 
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid> 
  </div>


<div class="c3">
  <ion-grid style="text-align: center;">
    <ion-row>
      <ion-col>     
        <ion-card class="tarjeta">
          <ion-item>
            <div style="text-align: -webkit-center;">
              <p style="font-size: 10px; color: #505A53;">Agendado para el mes de:</p>
              <p style="font-size: 16px; color: #1BC7AF;"><strong>{{datosC.mes}}</strong></p>
            </div> 
          </ion-item>
        </ion-card>
      </ion-col>
      <ion-col>     
        <ion-card class="tarjeta">
          <ion-item>
            <div style="text-align: -webkit-center;">
              <p style="font-size: 8px; color: #505A53;">Anticipo del vehiculo:</p>
              <p style="font-size: 20px; color: #1BC7AF;">$ <strong>{{datosC.anticipo}}</strong></p>
            </div> 
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card class="c4">
    <ion-item>
      <p style="font-size: 12px; color: #505A53;">Posible vehiculo a rentar: <strong>{{datosC.observacionesVehiculo}}</strong></p>
    </ion-item>
  </ion-card> 
</div>

<div class="c5">
  <ion-grid style="text-align: center;">
    <ion-row> 
      <ion-col>     
        <ion-card class="tarjeta">
          <p style="font-size: 10px; color: #505A53;">¿Trae vehiculo?</p>
          <ion-chip *ngIf="datosC.vehiculoRentado === 'RENTANDO'" color="boton">
            <ion-label style="margin: 0 10px;">RENTANDO</ion-label>
          </ion-chip>
          <ion-chip *ngIf="datosC.vehiculoRentado === 'SIN VEHICULO'" color="rojo">
            <ion-label style="margin: 0 10px;">SIN VEHICULO</ion-label>
          </ion-chip>
        </ion-card>
      </ion-col>
      <ion-col>     
        <ion-card class="tarjeta">
          <ion-item>
            <div>
              <p style="font-size: 10px; color: #505A53;">Cliente activo</p>
              <p style="font-size: 16px; color: #1BC7AF;"><strong>{{datosC.clienteactivo}}</strong></p>
            </div> 
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid> 
</div> 

<div class="btn">
  <button ion-button round block shape="round" color="boton" (click)="enlace_cliente()">
    <ion-icon name="person" subtle large item-left></ion-icon>
      Datos del cliente
  </button>
</div>

</ion-content>
