
<ion-header translucent="true" no-border>
  <ion-toolbar color="sincolor" style="text-align: center;"> 
    <ion-title>Cambiar imagen</ion-title>
    <br>
    <ion-grid style="text-align: center;">
      <ion-row> 
        <ion-col>
          <img style="width: 22%;" (click)="regresar()" src="img/icon/left-arrow.png"/>
          <p style="font-size: 14px; opacity: 50%; margin-top: 0%;">regresar</p>
        </ion-col>
        <ion-col>     
          <img style="width: 22%;" (click)="menu()" src="img/icon/menu.png"/>
          <p style="font-size: 14px; color: #1BC7AF; margin-top: 0%;">Ir al menu</p>
      </ion-col>
      </ion-row>
    </ion-grid> 
  </ion-toolbar>
</ion-header> 


<ion-content padding>

  <h5 style="text-align: center; color: #4A6D68;">Imagen actual</h5>
  <div style="text-align:center;" >
    <img src="{{datosV?.foto}}" id="Foto">
  </div>

  <br>

  <form #editarForm="ngForm">

    <h5 style="text-align: center; color: #4A6D68;">Imagen Nueva</h5>

    <div class="Imagen" style="text-align:center;" *ngIf="captureDataUrl == null" (click)="upload()">
      <img src="img/icon/camara.png">
       <div >Agrega una nueva foto o imagen</div>
     </div>    
 
     <div (click)="upload()" *ngIf="captureDataUrl != null">
       <img  src="{{datosVehiculoFoto?.foto}}" id="Imagen" [src]="captureDataUrl" >
     </div>

<br>

    <button ion-button round block color="txteditar" type="submit" (click)="editar(editarForm)">Guardar cambios</button>

</form>

</ion-content>
