page-rentadatosvehiculo {
    
  .toolbar-title-md {
    padding: 0 12px;
    font-size: 2.5rem;
    font-weight: 500;
  }

  .toolbar-md-sincolor .bar-button-clear-md, .toolbar-md-sincolor .bar-button-default-md, .toolbar-md-sincolor .bar-button-outline-md, .toolbar-md-sincolor .toolbar-title-md {
      color: #10CF50;
      padding: 3%;
  }



    .item-md ion-avatar ion-img, .item-md ion-avatar img{
    width: 50px;
    height: 50px;
    border-radius: 0px;
    }

    .item-md {
        padding-left: 30px;
    }

    .grid {
        padding: 0px;
    }

    .col {
        padding: 0px;
    }

    .c1{
      border-radius: 10px;
      margin: 30px 0 16px;
      box-shadow: 8px 8px 12px #d1d1d1, -5px -5px 10px #FFFFFF;
      margin-top: -1.5%;
    }

    .tarjeta{
      border-radius: 10px;
      margin: 30px 0 16px;
      box-shadow: 8px 8px 12px #d1d1d1, -5px -5px 10px #FFFFFF;
    }

    .c2{
      margin-top: -5%;
    }
    
    .card-content-md {
      padding: 0px 0px;
      font-size: 1.4rem;
      line-height: 1.5;
    }
}
